<!-- 
M  数据模型   model
V  视图(展现给用户的界面)  view
C  控制器(处理用户的交互 和内部数据逻辑) controller

MVC模式中数据和视图之间没有直接的流动关系
-->
<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="angular.js"></script>
</head>
<body>
	<ul ng-controller="newsController">
		<li><input type="text" ng-model="news[0]"></li>
		<button ng-click="showdata()">查看数据</button>
	</ul>
</body>
<script>
	var myapp = angular.module('myapp',[]);
	myapp.controller('newsController', ['$scope', function($scope){
		$scope.news = [
		'明天要下雨',
		'后天要下雪',
		'大后天要下雪'
		];
		$scope.showdata = function() {
			console.log($scope.news);
		}
	}])
</script>
</html>