body{margin:0; padding:0;}

.sence{width:500px;height:3000px; border:1px solid #e07f71; background-color:#f4f4f4; margin:0 auto; border-radius:10px;}

.item{width:100px; height:100px; border:1px solid #e07f71; background-color:#f4f4f4; margin:20px auto; border-radius:10px;}

.item-circle{border-radius:50%;}
.item-red{background-color:#ff0312;}

.ccc{
    width:300px;
    height:200px;
    border:1px solid black;
    position:absolute;
    left:300px;
    text-align:center;
    line-height:200px;
    font-size:40px;
}
.fix{
    padding:10px;
    position:fixed;
    top:200px;
    left:100px;
    width:20px;
    height:300px;
    border:1px solid black;
}
.xiao{
    border:1px solid black;
    margin-bottom:20px;
    text-align:center;
    cursor:pointer;
}