@font-face{
    font-family:icons;
    src:url(https://m.baidu.com/static/index/iconfont/iconfont_323d6fe0.eot);
    src:url(https://m.baidu.com/static/index/iconfont/iconfont_323d6fe0.eot#iefix) format('embedded-opentype'),url(https://m.baidu.com/static/index/iconfont/iconfont_323d6fe0.woff) format('woff'),url(https://m.baidu.com/static/index/iconfont/iconfont_323d6fe0.ttf) format('truetype'),url(https://m.baidu.com/static/index/iconfont/iconfont_323d6fe0.svg?#iconfont) format('svg');
    font-weight:400;
    font-style:normal
}
body{
    margin:0;
}
body{
    font-family:Arial,Helvetica,sans-serif;
    text-align:center;
}
#page{
    overflow:hidden;
    padding-bottom:55px;
}
#logo{
    height:55px;
    padding:17px 0 15px;
}
#header{
    background:url("../image/doddle.gif") no-repeat center center;
    background-size:cover;
    /* background-attachment:fixed; */
}
#index-form{
    margin: 0 10px;
    border: 1px solid #8d9394;
    border-radius: 1px;
    height: 42px;
    box-shadow: 0 1px 1px 0 #dfdfdf;
    background: #fff;
}
.con-wrap{
    display:-webkit-box;
}
textarea{
    border: 0;
    border-radius: 0;
    background: transparent;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#index-form .se-input{
    border-radius: 0;
    margin: 0;
    padding: 7px 42px 7px 6px;
    height: 42px;
    line-height: 28px;
    resize: none;
    overflow: hidden;
    display: block;
    -webkit-box-flex: 1;
    font-size: 18px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#navs{
    margin:17px 0 14px;
    overflow:hidden;
}
a{
    text-decoration:none;
}
#navs a:first-child{
    margin-left:2%;
}
#navs a{
    float: left;
    width: 16%;
    font-size: 13px;
    color: #262626;
}
#navs a i{
    display:block;
    margin-bottom:4px;
    height:24px;
}
.navs-news:before{
    content: '\e672';
    color: #777;
    font: 24px/1 icons;
}
.navs-novel:before{
    content: '\e676';
    color: #777;
    font: 24px/1 icons;
}
.navs-video:before{
    content: '\e66f';
    color: #777;
    font: 24px/1 icons;
}
.navs-life:before{
    content: '\e6bd';
    color: #777;
    font: 24px/1 icons;
}
.navs-map:before{
    content: '\e66c';
    color: #777;
    font: 24px/1 icons;
}
.navs-more:before{
    content: '\e674';
    color: #777;
    font: 24px/1 icons;
}
.navs-tieba:before{
    content: '\e670';
    color: #777;
    font: 24px/1 icons;
}
.navs-image:before{
    content: '\e66e';
    color: #777;
    font: 24px/1 icons;
}
.navs-website:before{
    content: '\e675';
    color: #777;
    font: 24px/1 icons;
}
#navs a:nth-child(n+7){
    margin-top:9px;
}
#navs a:nth-child(7){
    margin-left:2%;
}
#plus-card{
    position: relative;
    border: 0 solid #eeeef0;
    border-width: 1px 0;
    padding: 2px 10px 10px;
    margin-bottom: 10px;
    background: #f6f6f6;
}
.plus{
    border: 1px solid #d9dde2;
    margin-top: 8px;
    background: #fff;
    line-height:100px;
    width:100%;
}
.navs-more{
    transition:all .3s ease;
    -webkit-transform:rotateZ(0deg);
}
#navs.expand .navs-more{
    -webkit-transform:rotateZ(180deg);
}
#navs:not(.expand) a:nth-child(n+7){
    display:none;
}
#bottom{
    position:fixed;
    width:100%;
    height:55px;
    line-height:55px;
    text-align:center;
    bottom:0;
    background:white;
    box-shadow:0 -1px 1px #ccc;
    font-size:13px;
}
#bottom span{
    display:block;
    float:left;
    width:25%;
    cursor:pointer;
    display:inline-block;
}