body{
	font-family: "ADELE";
}
.biao{
	width:1000px;
	height:550px;
	margin:20 auto;
	background:url('./bg.png') no-repeat center center;
  background-size:cover;
	position: relative;
	overflow: hidden;
}
.dian{
	height:2px;
	border-radius: 2px;
	background-color: #d83749;
	position: absolute;

}
.zuobiao{
	font-size:0.01em;
	color:white;
	position: absolute;
	left:3px;
	overflow: hidden;
}
.hang{
	overflow: hidden;
	padding-top:10px;
	font-size:0.6em;
	color:white;
	position: absolute;
	bottom:0;
}
