a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
body {line-height: 1}
ol, ul {list-style: none}
/* body{ */
/*     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
/*     min-width:980px; */
/* } */
/* .header{ */
/*     width:100%; */
/*     background:#f5f5f5; */
/*     padding:15px 0; */
/*     line-height:20px; */
/* } */
/* .container{ */
/*     width:980px; */
/*     margin:0 auto; */
/* } */
/* .logo{ */
/*     display:block; */
/*     float:left; */
/* } */
/* .site-search{ */
/*     width:360px; */
/*     height:24px; */
/*     margin-right:10px; */
/*     border:1px solid black; */
/*     box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 2px 0px inset; */
/*     float:left; */
/* } */
/* .header-actions{ */
/*     float:right; */
/*     margin-top:-3px; */
/*     margin-bottom:-3px; */
/* } */
/* .header-nav-item{ */
/*     float:left; */
/* } */
/* .clear{ */
/*     clear:both; */
/* } */
/* .header a{ */
/*     color:#333; */
/*     text-decoration:none; */
/*     font-weight:bold; */
/*     font-size:13px; */
/*     padding:4px 8px; */
/* } */
/* .header .btn{ */
/*     color:white; */
/*     display:inline-block; */
/*     border-color: #5ca941; */
/*     padding:6px 12px; */
/*     background-color: rgb(96, 176, 68); */
/*     background-image: linear-gradient(rgb(138, 221, 109), rgb(96, 176, 68)); */
/* } */
/* .section-signup{ */
/*     padding:80px 0; */
/*     background:#202021 url('../img/1.png') center repeat; */
/* } */
/* .section-signup h1{ */
/*     color:#fff; */
/*     font-size:70px; */
/*     font-weight:normal; */
/*     line-height:1; */
/*     letter-spacing:-1px; */
/*     paddding-top:10px; */
/*     margin-bottom:15px; */
/* } */
/* .section-signup p{ */
/*     font-size:21px; */
/*     line-height:1.5; */
/*     color:#fff; */
/* } */
/* .section-signup a{ */
/*     font-weight:500; */
/*     color: #4078c0; */
/*     text-decoration: none; */
/* } */
/* .sign-up{ */
/*     width:320px; */
/*     height:310px; */
/*     border:1px solid red; */
/*     float:right; */
/* } */
/* a{ */
/*     text-decoration:none; */
/* } */
/* h1{ */
/*     font-weight:normal; */
/* } */
/* .section{ */
/*     padding:80px 0; */
/* } */

/* .section-market .btn{ */
/*     display:inline-block; */
/*     margin-top:15px; */
/*     padding:12px 20px; */
/*     font-size:18px; */
/*     border-radius:6px; */
/*     background-color: #1d6ac8; */
/*     background-image: -webkit-linear-gradient(#45b3f3, #1d6ac8); */
/*     background-image: linear-gradient(#45b3f3, #1d6ac8); */
/*     border: 0; */
/*     box-shadow: 0 1px 1px rgba(0,0,0,0.25); */
/* } */
/* .section-market{ */
/*     padding:80px; */
/*     background-image: linear-gradient(#202d5f, #614381); */
/*     text-align:center; */
/* } */
/* .section-market a{ */
/*     color:#fff; */
/*     font-size:42px; */
/* } */
/* .section-market h1{ */
/*     font-weight:normal; */
/* } */
/* .section-market img{ */
/*     display: block; */
/*     max-width: 980px; */
/*     margin: 40px auto; */
/*     border-radius: 5px; */
/*     border: 1px solid rgba(0,0,0,0.25); */
/*     box-shadow: 0 5px 15px rgba(0,0,0,0.15); */
/* } */
body{
    font-family:helvetica;
    margin:0;
}
a{
    text-decoration:none;
    color:black;
}
.header{
    background:#f5f5f5;
    padding:15px 0;
}
.container{
    width:980px;
    /* border:1px solid black; */
    margin:0 auto;
}
.container:after{
    content:"";
    display:block;
    clear:both;
}
.logo{
    height:27px;
    float:left;
    margin-right:15px;
    font-size:1.8em;
    font-weight:bolder;
}
.search{
    width:350px;
    line-height:26px;
    border:1px solid #d5d5d5;
    border-radius:3px;
    background:white;
    padding-left:5px;
    float:left;
    font-size:12px;
    color:#777;
    margin-right:5px;
}
.header ul{
    float:left;
}
.header ul:after{
    content:"";
    display:block;
    clear:both;
}
.header li{
    float:left;
}
.header li a{
    font-weight:bolder;
    font-size:13px;
    padding:4px 8px;
    line-height:30px;
}

.btn{
    padding:6px 12px;
    font-weight:bold;
    font-size:13px;
    line-height:20px;
    border:1px solid #d5d5d5;
    border-radius:4px;
    text-align:center;
    background-image:linear-gradient(#fcfcfc, #eee);
}
.btn-lv{
    background-image:linear-gradient(#8add6d, #60b044);
    border:1px solid #5ca941;
    color:white;
}
.signin, .signup{
    float:right;
    margin-top:-3px;
}
.signin{
    margin-left:5px;
}
.section{
    padding:80px 0;
    /* border-bottom:1px solid #f5f5f5; */
    border-bottom:1px solid black;
}
.main{
    color:white;
    background:#202020 url('../img/1.png') center repeat;
}
.main h1{
    padding-top:10px;
    font-size:70px;
    font-weight:normal;
    margin:0;
    margin-bottom:15px;
}
.main p{
    font-size:21px;
    line-height:1.5;
    margin:0;
}
.main a{
    color:#4078c0;
}
.user-info{
    width:320px;
    /* border:1px solid red; */
    float:right;
    margin-left:25px;
}
.user-info p{
    font-size:13px;
    color:#767676;
    margin-top:10px;
}
.input{
    color:#777;
    background:white;
    line-height:44px;
    padding-left:14px;
    margin-bottom:10px;
    font-size:16px;
    border-radius:5px;
}
.user-info .btn{
    color:white;
    display:block;
    font-size:16px;
    line-height:27px;
    margin-top:10px;
}
.enterprise{
    background-image:linear-gradient(#202d5f, #614381);
    text-align:center;
    max-height:280px;
    overflow:hidden;
}
.enterprise h1{
    font-size:42px;
    color:#fff;
    font-weight:normal;
}
.enterprise a{
    display:inline-block;
    margin:20px 0;
}
.btn-lan{
    font-size:16px;
    line-height:30px;
    /* border:1px solid #1d6ac8; */
    width:336px;
    background-image:linear-gradient(#45b3f3, #1d6ac8);
    color:#fff;
}
.enterprise img{
    margin-top:40px;
    width:100%;
}
.intro{
    text-align:center;
}
.cloum{
    padding:20px 25px 40px;
    /* border:1px solid black; */
    float:left;
    width:44%;
}
.cloum .img{
    width:100px;
    height:100px;
    margin:0 auto 15px;
    border:1px solid black;
    border-radius:50%;
}
.cloum h3{
    font-size:21px;
    font-weight:normal;
    margin:15px 0;
}
.cloum p{
    width:88%;
    color:#5a5a5a;
    margin:0 auto;
    font-size:14px;
}

.intro h1{
    font-weight:normal;
    font-size:42px;
}
.intro .sub-title{
    color:#767676;
    font-size:20px;
    margin:30px 0;
}
.mac{
    text-align:center;
}
.mac h1{
    font-size:42px;
    font-weight:normal;
}
.mac p{
    color:#767676;
}
.mac .btn{
    display:block;
    margin:20px auto;
}
.mac img{
    width:100%;
    margin-top:30px;
}
.mac h3{
    margin:20px auto;
    font-size:20px;
    font-weight:normal;
}
.footer{
    padding:40px 0;
}